<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>StayPOP - Obrigado por comprar com a gente!</title>
        <script src="../js/product.js"></script>
        <link rel="stylesheet" href="./css/lista-de-produtos.css">
    </head>

        <%- include('./header.ejs') %>

        <body>
            <section class="section3">
                <p class="titulo-produtos">CAMISETAS</p>
                <ul class="product-sugestion-cards">
                    <% products.forEach((product) => { %>
                        <li class="product-card">
                            <img width="160px" src=<%= product.img %> alt="product-card01">
                            <strong><%= product.name %></strong>
                            <p><%= product.description %></p>
                            <p>R$ <%= product.price %></p>
                        </li>
                   <% }) %>
                </ul>
            </section>
        </body>


        <%- include('./footer.ejs') %>

</html>